# System
.DS_Store
Thumbs.db

# IDE
.idea

# Project

# Libraries
/node_modules
/bower_components
/yarn-error.log
.npmrc

# Remove above lines when you start a project
composer.lock
yarn.lock
package-lock.json
